<div class="w-screen h-screen flex bg-white max-w-screen">
    <div class="w-1/5 h-screen">
        <app-menu></app-menu>
    </div>
    <div class="w-full h-screen overflow-x-hidden">
        <app-header-admin></app-header-admin>
        <div class="w-full h-auto flex flex-col p-10 overflow-y-auto px-10">
            <div class="w-full p-4 flex ">
                <div class="w-full h-52 rounded-xl bg-[#8ecae6] mx-4 p-4">
                    <label for="" class="text-gray-700 text-lg font-bold"> {{ sales }} </label>
                    <div class="flex h-3/5 items-center justify-between">
                        <label for="" class="text-5xl font-extrabold">
                            ${{ 40000 }}
                        </label>
                        <img src="img/grafica.png" alt="">
                    </div>
                    <div class="flex">
                        <label for="" class="font-semibold">Escala o Redireccionamiento</label>
                        <div class="p-1 bg-white rounded-md text-[11px] mx-2">18.9%</div>
                    </div>
                </div>
                <div class="w-full h-52 rounded-xl bg-[#FF4655] mx-4 p-4">
                    <label for="" class="text-gray-700 text-lg font-bold"> {{ sales }} </label>
                    <div class="flex h-3/5 items-center justify-between">
                        <label for="" class="text-5xl font-extrabold">
                            ${{ 40000 }}
                        </label>
                        <img src="img/grafica.png" alt="">
                    </div>
                    <div class="flex">
                        <label for="" class="font-semibold">Escala o Redireccionamiento</label>
                        <div class="p-1 bg-white rounded-md text-[11px] mx-2">18.9%</div>
                    </div>
                </div>
                <div class="w-full h-52 rounded-xl bg-[#C2D878] mx-4 p-4">
                    <label for="" class="text-gray-700 text-lg font-bold"> {{ sales }} </label>
                    <div class="flex h-3/5 items-center justify-between">
                        <label for="" class="text-5xl font-extrabold">
                            ${{ 40000 }}
                        </label>
                        <img src="img/grafica.png" alt="">
                    </div>
                    <div class="flex">
                        <label for="" class="font-semibold">Escala o Redireccionamiento</label>
                        <div class="p-1 bg-white rounded-md text-[11px] mx-2">18.9%</div>
                    </div>
                </div>
            </div>
            <div  class="w-full h-[600px] flex flex-col justify-center items-center relative rounded-2xl px-8 mt-6 ">
                <label for="" class="text-2xl font-semibold ">Monthly sales</label>
                <div #chartContainer  class="w-full flex h-full rounded-3xl m-4">

                </div>
            </div>
            <div class="w-full h-full"></div>
        </div>
    </div>
</div>