<div class="bg-gradient-to-t from-[#e0e1dd] to-[#edede9] w-screen h-screen flex justify-center items-center">
    <div class="bg-white w-2/6 h-auto py-6 rounded-3xl shadow-xl flex items-center flex-col">
        <div class="py-6">
            <img class="w-20 h-16" src="img/RACCON.png" alt="">
        </div>
        <div class="flex flex-col w-full h-full px-7">
            <div class="flex flex-col px-10 pt-2">
                <label for="" class="text-xl font-bold">Username</label>
                <div class="w-full h-auto rounded-full bg-slate-200 flex items-center justify-center my-3">
                    <input class="px-4 w-full mx-5 bg-transparent border-none outline-none my-2" type="text" placeholder="Santiago JR" name="" id="">
                </div>
            </div>
            <div class="flex flex-col px-10 pt-2">
                <label for="" class="text-xl font-bold">Password</label>
                <div class="w-full h-auto rounded-full bg-slate-200 flex items-center justify-center my-3">
                    <input class="px-4 w-full mx-5 bg-transparent border-none outline-none my-2" type="password" placeholder="**********" name="" id="">
                </div>
            </div>
            <div class="flex flex-col px-10">
                <a class="text-[12px] text-blue-800 font-semibold" href="">Forgot password</a>
            </div>
            <div class="flex flex-col px-10 py-3 pb-10">
                <button class="w-full h-auto py-2 bg-[#03071e] text-white font-bold rounded-full">Submit</button>
            </div>
        </div>
    </div>

</div>