@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
    font-family: 'Kanit';
}

@font-face {
    font-family: 'Kanit';
    src: url('/Kanit/Kanit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Kanit';
    src: url('/Kanit/Kanit-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Kanit';
    src: url('/Kanit/Kanit-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Kanit';
    src: url('/Kanit/Kanit-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
  