<div class="w-screen flex h-80 pt-16 p-10 bg-black">
    <div class="w-2/6 h-full flex flex-col items-center text-justify text-2xl">
        <div class="flex flex-col items-center justify-center h-20">
            <div class="flex py-3">
                <img class="w-12 h-10" src="img/RACCON.png" alt="">
                <label class="font-extrabold text-white pl-3" for="RACCON SAS">RACCON SAS</label>
            </div>
            <div class="flex justify-between items-center w-full ">
                <a href="">
                    <img class="pl-2" src="svg/Instagram.svg" alt="">
                </a>
                <a href="https://www.facebook.com/profile.php?id=61555353172573">
                    <img class="pl-2" src="svg/Facebook.svg" alt="">
                </a>
                <a href="">
                    <img class="pl-2" src="svg/Whatsapp.svg" alt="">
                </a>
                <a href="">
                    <img class="pl-2" src="svg/Email.svg" alt="">
                </a>
            </div>
        </div>
        </div>
    <div class="w-4/6 h-full flex justify-center ">
        <div class="flex w-2/5 justify-between  h-full">
            <div class="flex flex-col px-6 items-center">
                <label class="font-semibold text-xl text-white" for="">Category</label>
    
            </div>
            <div class="flex flex-col px-6 items-center">
                <label class="font-semibold text-xl text-white" for="">Section</label>
            </div>
        </div>
        <div class="w-3/5 h-full  p-8 flex flex-col justify-center items-center">
            <form (ngSubmit)="onSubmit()" [formGroup]="form" class="">
                <div class="flex flex-col w-80 h-full ">
                    <div class="flex flex-col mb-2">
                        <div class="border-b border-white">
                            <input 
                                type="text" 
                                placeholder="example@gmail.com"
                                class="bg-transparent placeholder-white text-white focus:outline-none w-full"
                                formControlName="email"
                            >
                        </div>
                        
                    </div>
                    <div class="flex w-full h-auto">
                        <input type="checkbox" name="" id="" formControlName="checkbox">
                        <label class="text-[8px] px-1 text-white" for="">Acepto recibir mensajes y promociones de RACCON SAS</label>
                    </div>
                </div>

                <div class="flex h-10">

                    <button
                        type="submit"
                        class="flex justify-center gap-2 items-center mx-auto shadow-xl text-lg bg-gray-50 backdrop-blur-md lg:font-semibold isolation-auto border-gray-50 before:absolute before:w-full before:transition-all before:duration-700 before:hover:w-full before:-left-full before:hover:left-0 before:rounded-full before:bg-[#03071e] hover:text-gray-50 before:-z-10 before:aspect-square before:hover:scale-150 before:hover:duration-700 relative z-10 px-4 py-2 overflow-hidden border-2 rounded-full group"
                        >
                        Subscribe
                        <svg
                            class="w-8 h-8 justify-end group-hover:rotate-90 group-hover:bg-gray-50 text-gray-50 ease-linear duration-300 rounded-full border border-gray-700 group-hover:border-none p-2 rotate-45"
                            viewBox="0 0 16 19"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                            d="M7 18C7 18.5523 7.44772 19 8 19C8.55228 19 9 18.5523 9 18H7ZM8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 18L9 1H7L7 18H9Z"
                            class="fill-gray-800 group-hover:fill-gray-800"
                            ></path>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>